/* GLOBAL */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html {
    font-size: 16px;
    scroll-behavior: smooth;
}
body {
    font-family:  "Montserrat", sans-serif;
    color: #212529; 
    background-color: white;
    letter-spacing: 1px;
}
h2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
    text-align: center;
    letter-spacing: 2px;
}
button {
    background-color: #ff0e83;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 13px 32px;
    font-size: 0.875rem;
    cursor: pointer;
    letter-spacing: 1px;

}

/* HEADER */
header {
        background-color: #4e2a84;
        padding: 20px 0;
        width:100%;
}
.header__content{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__content ul li {
    display: inline;
    margin: 0 1rem; 
}
.header__content ul li a {
    text-decoration: none;
    color: white;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 2px;
}
.header__content p {
    color: white;
    font-size: 2.3rem;
}
/* CAROUSEL */
.carousel {
    background-image: url("../img/b3.jpg");
    height: 800px;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel__content h1 {
    font-size: 3.5rem;
}
.carousel__content p {
    font-size: 1.1rem;
    padding: 23px 0;
}
/* INTRO */
.intro {
    display: grid;
    grid-template-columns:25% 25% 25% 25% ;
}
.intro__item img{
    width: 100%;
    display: block;
}
.intro__item{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;    
}
.intro__ab1{
    grid-column: 2 / 4;
}
.intro__bake{
    grid-column: 1 / 3;
}
.intro__ab4{
    grid-column: 3 / 5;
}
.intro__text{
    padding: 0 32px;
}
.intro__item h3{
    color: white;
    font-size:1.5rem ;
    font-weight: 700;
    margin-bottom: 1rem;
}
.intro__item p{
    font-size: 0.875rem;
    color: #c1c1c1;
    line-height: 29px;
}
.intro .intro__item:first-child,.intro .intro__item:nth-child(8){
    background-color:#4e2a84;
}
.intro .intro__item:nth-child(3){
    background-color:#ff0e83 ;
}
.intro .intro__item:nth-child(4){
    background-color:#ed6498;
}
.intro .intro__item:nth-child(6){
    background-color:#836eaa;
}
/* NUMBER */
.number{
    padding: 70px 0;
}
.number__content{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.number__item p:first-of-type{
    font-size: 2rem;
    color: #4e2a84;
    font-weight: 600;
}
.number__item p:last-of-type{
    font-size: 1.4rem; 
    font-weight: 700;
    letter-spacing: 4px;
    padding: 24px 0;
}
/* TEAM */
.team{
    background-color: #4e2a84;
    padding: 70px 0;
}
.team h2{
    color: white;
}
.team__content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:25px 30px;
    width: 75%;
    margin: 0 auto;
}
.team__item img{
    width: 100%;
    display: block;
}
.team__item{
    position: relative;
}
.team__item h3{
    font-size: 1.3rem;
}
.team__item p{
    font-size: 0.875rem;
    line-height: 28px;
}
.team__title{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ff0e83;
    color: white;
    width: 100%;
    padding: 30px;
    opacity: 1;
}
/* CONTACT  */
.contact{
    padding: 70px 0;
}

.contact__form form{
    width: 70%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px 30px;
}

.contact__form textarea,.contact__form button{
    /* grid-column: 1 / 3; */
    grid-column: 1 / span 2;
    padding: 15px;
    font-size: 1rem;
    font-weight: 600;
}

.contact__form input{
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    transition: all .5s;
}

.contact__form input:focus{
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.contact__form textarea{
    border: 1px solid black;
    resize: none;
}

.contact__form textarea:focus{
    outline: none;
}

.contact__form textarea::placeholder{
    color: black;
}

.contact__form button{
    border-radius: 0px;
    color: black;
}

.contact__form button:hover{
    color: white;
    background-color: black;
    border-color: black;
}

.contact__map iframe{
    width: 100%;
    margin-top: 50px;
}

.contact__info{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
}

.contact__info i{
    font-size: 2rem;
    color: #4e2a84;
}
.contact__info p{
    font-size: 0.8rem;
    margin: 10px 0;
}